# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [1]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [73]:
# Load data here

grammys = pd.read_csv("./data/grammys.csv")
listings = pd.read_csv("./data/listings.csv")

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [9]:
# 1. How many listings are there with a price less than 100? 

num = len([listing for listing in listings['price'] if listing < 100])

print(num)

22778

In [18]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.

df_bk = listings[listings['neighbourhood_group'] == 'Brooklyn']

print(len(df_bk))

18632

In [21]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.

num = len([price for price in df_bk['price'] if price < 100])

print(num)

10473

In [36]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.

l = listings['host_name'].isin(['Michael', 'David', 'John', 'Daniel'])

print(len([1 for isin in l if isin]))

1258

In [38]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 

listings['adjusted_price'] = listings['price'] + 100

print(listings['adjusted_price'])

0        275
1        175
2        160
3        275
4        165
        ...
46522    245
46523    187
46524    159
46525    180
46526    166
Name: adjusted_price, Length: 46527, dtype: int64

In [52]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  

rooms = listings['room_type']

private = len([1 for type in rooms if type=="Private room"]) / float(len(rooms)) * 100
shared = len([1 for type in rooms if type=="Shared room"]) / float(len(rooms)) * 100

print(f'{private}%', f'{shared}%')

45.444580566122895% 2.12134889419047%

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [59]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

print(listings.groupby(by="neighbourhood_group").size())

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
dtype: int64

In [62]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 

print(listings.groupby(by="neighbourhood_group").mean()['price'])

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [64]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 

print(listings.groupby(by="neighbourhood_group").agg(['min', 'max'])['price'])

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

C:\Users\12155\AppData\Local\Temp\ipykernel_13948\1465283505.py:3: FutureWarning: ['name', 'host_name', 'last_review'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  print(listings.groupby(by="neighbourhood_group").agg(['min', 'max'])['price'])

In [71]:
# 4. Using `groupby`, find the mean price for each room type in each neighbourhood_group.

print(listings.groupby(['neighbourhood_group', 'room_type']).mean()['price'])

neighbourhood_group  room_type
Bronx                Entire home/apt    138.004819
                     Private room        68.419668
                     Shared room         66.391304
Brooklyn             Entire home/apt    171.587687
                     Hotel room         147.300000
                     Private room        71.291189
                     Shared room         57.870091
Manhattan            Entire home/apt    231.335572
                     Hotel room         292.515670
                     Private room       128.277069
                     Shared room        111.735084
Queens               Entire home/apt    150.168900
                     Hotel room         139.058824
                     Private room        69.972564
                     Shared room         89.891892
Staten Island        Entire home/apt    151.720930
                     Private room        70.312883
                     Shared room         46.000000
Name: price, dtype: float64

In [72]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.

group = ['neighbourhood_group', 'room_type']
aggArr = ['min', 'max', 'mean', 'median', 'std']
print(listings.groupby(group).agg(aggArr)['price'])

                                     min    max        mean  median  \
neighbourhood_group room_type
Bronx               Entire home/apt   25   1404  138.004819   103.0
                    Private room      16    700   68.419668    55.0
                    Shared room       20    800   66.391304    44.0
Brooklyn            Entire home/apt   20  10000  171.587687   135.0
                    Hotel room         0    399  147.300000   129.0
                    Private room      10   2500   71.291189    60.0
                    Shared room       15   1500   57.870091    36.0
Manhattan           Entire home/apt    0  10000  231.335572   165.0
                    Hotel room         0   2211  292.515670   210.0
                    Private room      10  10000  128.277069    80.0
                    Shared room       10  10000  111.735084    60.0
Queens              Entire home/apt   10  10000  150.168900   115.0
                    Hotel room         0    249  139.058824   149.0
                    Private room      18   9000   69.972564    55.0
                    Shared room       14   3000   89.891892    40.0
Staten Island       Entire home/apt   39   1200  151.720930   111.0
                    Private room      20    800   70.312883    55.0
                    Shared room       19     82   46.000000    38.0

                                            std
neighbourhood_group room_type
Bronx               Entire home/apt  126.032106
                    Private room      57.337866
                    Shared room      114.442703
Brooklyn            Entire home/apt  236.732843
                    Hotel room        91.153206
                    Private room      69.023165
                    Shared room       92.217618
Manhattan           Entire home/apt  410.306439
                    Hotel room       315.924085
                    Private room     448.677306
                    Shared room      502.728868
Queens              Entire home/apt  252.606739
                    Hotel room        50.743806
                    Private room     163.814468
                    Shared room      275.675158
Staten Island       Entire home/apt  147.518392
                    Private room      70.759593
                    Shared room       28.446441

C:\Users\12155\AppData\Local\Temp\ipykernel_13948\3027640731.py:6: FutureWarning: ['name', 'host_name', 'neighbourhood', 'last_review'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  print(listings.groupby(group).agg(aggArr)['price'])

# Join and file saving.
1. Load the `prices.csv` and the `n_listings.csv`


2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']
       
       
3. Save your joined csv as `joined.csv`


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [74]:
# 1. Load the `prices.csv` and the `n_listings.csv`

n_listings = pd.read_csv("./data/n_listings.csv")
prices = pd.read_csv("./data/prices.csv")

In [76]:
# 2. Do join that keeps all the records for each table.

print(pd.merge(n_listings, prices, left_index=True, right_index=True))

  neighbourhood_group;n_listings neighbourhood_group   mean_price
0                     Bronx;1183               Bronx    92.751479
1                 Brooklyn;18632            Brooklyn   120.225258
2                Manhattan;20580           Manhattan   191.880466
3                LongIsland;4121              Queens    99.754965

# Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

In [117]:
#  1. Who was won Album of the Year in 2016?

winner_album_2016 = grammys[(grammys['category']=="Album of the Year") & (grammys['year']==2016) & (grammys['winner']==True)]['workers']

print(winner_album_2016)

5505    Taylor Swift (artist/producer), Jack Antonoff ...
Name: workers, dtype: object

In [116]:
# 2. Who won Best Rap Album in 2009?

winner_best_rap_album = grammys[(grammys['category']=="Best Rap Album") & (grammys['year']==2009) & (grammys['winner']==True)]['workers']

print(winner_best_rap_album)

4396    Lil' Wayne
Name: workers, dtype: object

In [127]:
# 3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?
has_kendrick_lamar = (grammys['nominee'].str.contains("Kendrick Lamar", na=False))

awards = grammys[has_kendrick_lamar]

awards_won = grammys[(grammys['winner']==True) & has_kendrick_lamar]

print(len(awards), len(awards_won))

2 1